/* *** STYLES.CSS ** */
body{
  background-color: black;
  margin: 0px; /* Ajusta el espacio para la barra de navegación fija */
  padding: 0px;
}

header{
  width: 100%;
  margin: 0;
  padding: 0;
}


/* *** AREA BARRA DE NAV *** */


.nav-container {
  width: 80%; /* Establece el ancho del contenedor al 80% del ancho de la página */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  
}

.navbar {
  background-color: transparent !important; /* Fondo transparente */
  width: 100%;
  align-self: center;
}

.navbar-toggler-icon {
  background-color: rgb(59, 118, 157); /* Icono del botón de hamburguesa en celeste */
}

.navbar-toggler {
  border-color: white; /* Color del borde del botón de hamburguesa */
}

.navbar-nav .nav-link {
  color: white !important; /* Texto de los enlaces en blanco */
}


.navbar-brand img{
  width: 100px;
  border-radius: 5px;
  margin-left: 50px;
}

ul{
  margin-right: 10%;
}





/* Estilos personalizados para el carrusel  */

#carouselExampleSlidesOnly {
  height: 100vh; /* Hace que el carrusel ocupe toda la altura de la pantalla */
}


.carousel-control-prev-icon, .carousel-control-next-icon {
  color: #51e73e; /* Cambia el color de las flechas a blanco */
}


.carousel-item img {
  width: 100%x;
  height: 100vh; /* Para mantener la proporción de aspecto */
  object-fit: cover; /* Escala las imágenes para que cubran toda el área del contenedor */
}



/* *** -- ZONA ¿QUIENES SOMOS? --**** */

h3{
  text-align: center;
  color: bisque;
}

/* ** Rayita de separacion leve bajo (DESTACADOS) ** */
hr{
  border: 1px solid #51e73e;
}

.quienes-container{
  
  margin-left: 45px;
  margin-right: 45px;
}

.container {
  width: 50%;
 /* max-width: 70%;  Establece el ancho máximo del contenedor  de quienes*/
  margin: 10px; /* Centra el contenedor horizontalmente */

}

p{ 
  color: rgb(255, 255, 255);
}

.texto-blanco{
  color: white;
}


.icon-container {
        background-color: #87CEEB; /* Color celeste */
        text-align: center; /* Centra el contenido horizontalmente */
        padding: 10px; /* Espacio alrededor del icono */
    }

/* *** ZONA DE 4 FOTOS "D E S T A C A D O S" *** */

.custom-container{
  width: 90%;
  align-items: center;
  margin-left: 55px;
  display: flex;
  justify-content: center;
}


.card {
  margin-bottom: 10px; /* Espacio entre las tarjetas verticalmente */
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  height: 600px;
}




    /* *** ESTILOS PARA EL FORMU *** */
 

section{
  margin: 120px;
  margin-top: 10px;
  color: antiquewhite;

}

input[type="text"] {
    width: 100%;
    border-radius: 5px;
}

.btn-enviar {
  background-color: rgb(88, 138, 199);
  color: rgb(0, 0, 0); /* Por ejemplo, establecer el color del texto en blanco */
  border: none;     /* Quitar el borde del botón */
  margin-top: 10px; 
  padding: 10px 20px;   /* Ajustar el relleno del botón */
  border-radius: 5px;   /* Agregar bordes redondeados */
  font-size: 16px;      /* Establecer el tamaño del texto */
  font-weight: bold;
 
}






    /* *** ESTILOS PARA EL TARJETAS *** */

.card {
  color: blue;
}

.card-img-top {
  height: 300px;
}

 /* **** A R E A   P I E   D E  P A G I N A ***** ** */

 .footer {
  background-color: #bce3e3;
  width: 100%;
  padding: 20px 0; /* Espaciado superior e inferior */
}

.container {
  width: 80%; /* Ancho del contenedor */
  margin: 0 auto; /* Centrar el contenedor */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 20%; /* Ancho del logo */
}

.social-icons {
  width: 20%; /* Ancho del bloque de iconos */
  display: flex;
  justify-content: space-between;
}

.social-icons a img {
  width: 25px; /* Ancho de los iconos */
}

.footer {
  background-color:  #1cd4fc ;
  width: 100%;
  padding: 20px 0; /* Espaciado superior e inferior */
}

.container {
  width: 80%; /* Ancho del contenedor */
  margin: 0 auto; /* Centrar el contenedor */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 20%; /* Ancho del logo */
  height: 85px;
}

.social-icons {
  width: 30%; /* Ancho del bloque de iconos */
  display: flex;
  justify-content: space-between;
 
}
.social-icons a {
  text-decoration: none; /* Para asegurarse de que no haya subrayado */
}

.social-icons a img {
  display: block; /* Hacer que las imágenes sean elementos de bloque */
  width: 40px;
}

.social-icons a span {
  display: none; /* Ocultar el texto decorativo */
}

.social-icons a i {
  font-size: 2em; /* Cambiar el tamaño de los iconos */
}













@media (max-width: 768px) { 
  .navbar-collapse {
    background-color: rgb(216, 198, 198); 
  }
}


@media (max-width: 500px) {
  .quienes-container {
      display: none; /* Oculta el FOOTER */
      background-color: black;
  }
}


@media (max-width: 768px) {
  .container {
      display: none; /* Oculta el FOOTER */
  }
}

